.footer {
  background-color: black;
  color: gold;
  padding: 20px;
  text-align: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
      flex: 1 1 100%;

      img {
        width: 150px;
        height: auto;
      }
    }

    &__address {
      flex: 1 1 50%;
      text-align: center;
      margin-bottom: 20px;
    }

    &__contact {
      flex: 1 1 50%;
      text-align: center;

      p {
        margin-bottom: 10px;
      }
    }

    &__social-media {
      flex: 1 1 100%;

      .social-media__link {
        display: inline-block;
        margin-right: 10px;

        img {
          width: 30px;
          height: auto;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
